body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px;
    background-color: rgba(209, 156, 245, 0.507);
}

main {
    font-size: 17px;
    padding: 17px;
    background-color: white;
    border-radius: 18px;
}

p {
    font-style: italic;
    font-size: 19px;

}
